*
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
}

.header
{
	background-image: linear-gradient(to bottom, 
						rgb(79,73,142), 
						rgb(65,62,101));
	padding-top: 10px;
	padding-bottom: 70px;
}

/*==============
dropdown*/

.dropdown-item
{
	transition: 0.2s;
	padding: 10px 0;
	text-align: center;
}

.dropdown-item:hover
{
	background-color: rgb(79,73,142);
	transition: 0.2s;
	color: #fff!important;
}

.dropdown-item:active
{
	background-color: #f009;
	color: #fff!important;
}

.nav-btn
{
	border: none;
	outline: none;
	transition: 0.4s;
	color: #fffa;
	font-weight: 600;
}

.nav-btn:hover
{
	color: #fff;
	transition: 0.4s;
	background-color: #f00;
	transform: translateX(5px);
	box-shadow: -5px 0 2.5px #fff;
}

.dropdown-menu .active
{
	background-color: #0008;
	color: #fffa!important;
}

.dropdown-menu .active:hover
{
	color: #fff!important;
	background-color: #000b;

}

.nav-link
{
	font-weight: bold;
	color: #fffa!important;
}


.nav-link:hover
{
	color: #fff!important;
	transition: 0.4s;
}

===========
/*header*/


.header-left
{
	padding-top: 100px!important;
}


.header-title
{
	font-weight: 700;
	font-size: 60px;
}

.header-txt
{
	font-weight: 600;
	color: #fffa;
	line-height: 2;
	margin-top: 30px;
}

.header-link
{
	padding: 10px 20px;
	background-color: #f00a;
	text-align: center;
	text-decoration: none;
	color: #fffa;
	font-weight: 600;
	border-radius: 7px;
	transition: 0.4s;
	border: 1px solid #f008;
}

.header-link:hover
{
	color: #fff;
	transition: 0.4s;
	background-color: #f00;
	transform: translateX(10px);
	box-shadow: -10px 0 5px #fff;
}

.header-link:active
{
	background-color: #fff;
	color: #f00;
}

.header-mute-link
{
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 7px;
	text-align: center;
	color: #0005;
	background-color: #0001;
	transition: 0.4s;
}

.header-mute-link:hover
{
	color: #fff;
	background-color: #fff2;
	transition: 0.4s;
}

.header-mute-link:active
{
	background-color: #f006;
	color: #fff;
}


.header-right
{

}

=============
/*section-two*/

.section-two
{
	padding: 100px 0;
	border-bottom: 1px solid darkgray;

}

.section-two-list
{
	padding: 30px 0;
}

.section-two-item
{
	padding: 10px 0;
	margin-right: 10px;
}

.section-two-icon
{
	margin: 10px 0;
}

.section-two-title
{
	margin: 10px 0;
	font-weight: 600;
}

.section-two-txt
{
	font-weight: 600;
	color: #0007;
}

===========
/*brands*/


.brands
{
	border-top: 1px solid #000a;
}

.brands-list
{
	padding: 30px 0;
	display: flex;
	align-items: center;
}

.brands-link
{
	display: block;
	padding: 10px 20px;
	border-radius: 10px;
}

.brands-link:hover .brands-logo
{
	transform: translateY(-3px);
	box-shadow: 0 3px 3px #0005;
	transition: 0.4s;
}

.brands-item
{
	margin: 0 auto;
	/*padding: 10px 20px;*/
}

.brands-logo
{
	fill: #000!important;
	padding: 10px 5px;
	/*margin: 10px 20px;*/
	border-radius: 5px;
	transition: 0.4s;
}

/*==========*/
/*make*/

.make
{
	padding: 60px 0!important;
	min-height: 800px;
	background-color: rgba(0,255,255,0.1);
	position: relative;
}

.make-left
{
	/*position: absolute;
	z-index: 999;*/
}


.make-right
{
	position: absolute;
	top: 0;
	right: 0;
}

.make-left-item
{
	padding: 10px 20px;
	background-color: #fff;
	margin: 10px 0;
	border-radius: 5px;
}

.make-left-icon
{
	margin-right: 15px;
}

/*===========
fit*/

.fit
{
	padding: 30px 0;
}

.fit-link
{
	display: block;
	text-decoration: none;
}

.fit-link:hover .fit-img
{
	transform: scale(1.05);
	transition: 0.4s;
}

.fit-img
{
	transition: 0.4s;
}

.fit-title
{
	font-weight: 700;

}

.fit-txt
{
	font-weight: 700!important;
	color: #0006!important;
	margin: 30px 0;
	line-height: 35px;
}

.fit-item
{
	margin: 20px 0;
	padding: 10px 0px;
}

.fit-icon
{
	margin-right: 20px;
}

.fit-list-title
{
	font-weight: 600;
	color: #000e;
	margin-bottom: 10px;
	font-size: 22px;
}

.fit-item-txt
{
	font-weight: 600;
	color: #0007;
	font-size: 15px;
}

/*===========
love*/


.love
{
	padding: 50px 0;
	background-color: rgb(0,100,100,0.05);
}

.love-title
{
	font-weight: 700;
	color: #000;
	text-align: center;
}

.love-txt
{
	font-weight: 600;
	color: #0006;
	text-align: center;
	margin: 30px auto;
}

.love-item
{
	padding: 10px 20px;
	margin: 50px 20px !important;
}

.love-item span
{
	font-size: 65px;
}

.love-price
{
	font-size: 60px;
	font-weight: 700;
	color: rgb(84,84,212);
	text-align: center;
}

.love-list-txt
{
	color: #0006;
	font-weight: 600;
	text-align: center;
}

/*==========
price*/

.price
{
	padding: 70px 0;
	background-color: rgb(0,100,100,0.05);
	border-top: 1px solid #0002;
	height: 600px;
}

.price-title
{
	font-weight: 700;
	color: #000;
	text-align: center;
	margin: 20px 0;
}

.price-txt
{
	color: #0007;
	text-align: center;
	font-weight: 600;
	margin: 20px auto;
}

.form-check-label
{
	margin-right: 60px;
	outline: none;
	border: none;
	color: #0007;
	font-weight: 600;
}

.form-check-input
{
	margin: 0 20px;
	outline: none;
	border: none;
	background-color: #f009;
	cursor: pointer;
	padding: 10px 20px;
	transition: 0.4s;
}

.form-check-input:hover
{
	transform: scale(1.1);
	transition: 0.4s;
}

.form-check-label-2
{
	margin-left: 60px;
	outline: none;
	border: none;
	color: #0007;
	font-weight: 600;
}

.price-btn
{
	border: none;
	outline: none;
	background-color: #f009;
	color: #fff9;
	font-weight: 600;
	margin-left: 20px;
	transition: 0.4s;
}

.price-btn:hover
{
	background-color: #f00;
	color: #fff;
	transition: 0.4s;
	transform: scale(1.03);
}

.price-list
{
	padding: 50px 0;
	transform: translateY(0px);

}

.price-item
{
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 20px;
	margin: 10px 20px;
	text-align: center;
}

.price-list-content-txt
{
	font-weight: 600;
	color: #00fa;
	margin: 10px 0;
}

.price-list-price
{
	font-weight: 600;
	font-size: 25px;
}

.price-item span
{
	font-size: 40px;
}

.price-list-txt
{
	color: #0008;
	font-weight: 600;
}

.price-suplist
{
}

.price-suplist-item
{
	margin-left: 50px;
	margin: 10px 25px;
}

.price-suplist-icon
{
	margin: 10px 10px;
}

.price-list-button
{
	display: inline-block;
	width: 110%;
	transform: translate(-19px, 10px);
	border-radius: 0 0 20px 20px;
	padding: 10px 0;
	border: none;
	background: none;
	outline: none;
	background-color: rgba(84,84,212,0.7);
	text-decoration: none;
	color: #fffa;
	transition: 0.4s;
}

.price-list-button:hover
{
	background-color: rgb(84,84,212);
	color: #fff;
	transition: 0.4s;
}

/*==========
commment*/

.comment
{
	padding-top: 400px;
	padding-bottom: 100px;
	background-color: #000;
}

.comment-icon
{
	width: 30px;
	margin: 10px 20px;
}

.comment-item
{
	padding: 10px 20px;
	margin: 10px 0;
}

.comment-list-title
{
	font-weight: 500;
	color: #fff;
	font-size: 28px;
	margin: 5px 0;
}

.comment-list-txt
{
	color: #fff6;
	font-weight: 600;
	margin: 10px 0;
	line-height: 30px;
}

/*=======
fast*/

.fast
{
	padding: 70px;
	background-color: #000;
	border-top: 1px solid #fff5;
}

.fast-title
{
	font-weight: 700;
	color: #fff;
}

.fast-txt
{
	font-weight: 600;
	color: #fff5;
	line-height: 40px;
	margin: 30px auto !important;
}

.fast-link
{
	display: inline-block;
	color: #fff8;
	text-align: center;
	margin: 0 auto;
	border-radius: 7px;
	padding: 10px 20px;
	background-color: #f009;
	font-weight: 700;
}

.fast-link:hover
{
	background-color: #f00;
	color: #fff;
	transition: 0.4s;
}

.fast-mute-link
{
	color: #fff9;
	margin: 10px auto;
	border-radius: 7px;
	padding: 10px 20px;
	text-align: center;
	transition: 0.4s;

}

.fast-mute-link:hover
{
	background-color: #fff5;
	color: #000;
	transition: 0.4s;
}


/*==========
footer*/



.footer-brand
{
	font-weight: 700;
	font-size: 25px;
}


.footer-logo-link
{
	width: 30px;
	margin: 0 5px;
}

.footer-logo-link:hover .footer-logo
{
	fill: red!important;
}

.footer-logo
{
	fill: red!important;
}


.footer-txt
{
	font-size: 20px;
	font-weight: 500;
	color: #0008;
	margin: 20px 0;
}

.footer-content-txt
{
	font-weight: 700;
	color: #0008;
	padding: 0 10px;
}

.footer-link
{
	font-weight: 600;
	color: #f007!important;
	margin: 5px 0;
	padding: 15px 10px;
	transition: 0.4s;
	border-radius: 5px;
	/*background-color: #f005;*/
}

.footer-link:hover
{
	color: #f00!important;
	/*background-color: #0005;*/
	transform: translateX(10px);
	box-shadow: -10px 0 5px #f005;
	transition: 0.7s;
}

.footer-tel-link
{
	color: rgba(84,84,212,0.7)!important;
	font-weight: 700;
	/*color: #f007!important;*/
	margin: 5px 0;
	padding: 15px 10px;
	transition: 0.4s;
	border-radius: 5px;
}

.footer-tel-link:hover
{
	color: rgba(50,84,212,1)!important;
	/*background-color: #0005;*/
	transform: translateX(10px);
	box-shadow: -10px 0 5px rgba(50,84,212,0.5);
	transition: 0.7s;
}